In [2]:
import os
import sys

dir2 = os.path.abspath("")
dir1 = os.path.dirname(dir2)
if dir1 not in sys.path:
    sys.path.append(dir1)

from src import main_adaga
from src import main_gpcpd

%load_ext autoreload
%autoreload 2

WARNING:tensorflow:From c:\Users\Shayan\anaconda3\envs\StockENV\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\Shayan\anaconda3\envs\StockENV\Lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.logging.TaskLevelStatusMessage is deprecated. Please use tf.compat.v1.logging.TaskLevelStatusMessage instead.

WARNING:tensorflow:From c:\Users\Shayan\anaconda3\envs\StockENV\Lib\site-packages\tensorflow_probability\python\internal\backend\numpy\_utils.py:48: The name tf.control_flow_v2_enabled is deprecated. Please use tf.compat.v1.control_flow_v2_enabled instead.

In [ ]:
main_adaga.run_module()

In [3]:
main_gpcpd.run_module()

[*********************100%%**********************]  1 of 1 completed
Progress running the GPCPD: 100%|██████████| 166/166 [04:40<00:00,  1.69s/it]

           date    t cp_location cp_location_norm  cp_score
0    2023-07-18   10         5.0              0.5       NaN
1    2023-07-19   11    3.007076         0.799292  0.666827
2    2023-07-20   12    7.975003           0.4025  0.900489
3    2023-07-21   13    7.999015         0.500099  0.814234
4    2023-07-24   14    7.954523         0.604548  0.853394
..          ...  ...         ...              ...       ...
161  2024-03-07  171  163.988607         0.701139   0.60254
162  2024-03-08  172  163.981169         0.801883  0.650672
163  2024-03-11  173  163.154806         0.984519  0.765026
164  2024-03-12  174  170.009234         0.399077  0.775012
165  2024-03-13  175   168.95189         0.604811  0.755507

[166 rows x 5 columns]